chromadb
langchain-chroma
langchain
langchain-community
langchain-text-splitters
langchain-groq
transformers
sentence-transformers
unstructured
unstructured[pdf]
pyarrow
streamlit-option-menu
google-generativeai
ipython
pysqlite3-binary
